/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css')
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, input {
  font-family: inherit;
}

:root {
  /* Text sizes */
  /* 1 rem = 16px since it is relative to the html base, which is 16px by default */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-md: 1rem; /* 16px */
  --text-size-lg: 1.5rem; /* 24px */
  --text-size-xl: 2rem; /* 32px */
  --text-size-3xl: 3rem; /* 48px */
  --text-size-4xl: 4.5rem; /* 72px */

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-pill: 50rem;

  /* Colors */
  --color-text-dark: #1F2937;
  --color-text-light: #F9FAF8;
  --color-text-muted-light: #cccccc;

  --color-btn-primary: #3882F6;
  --color-btn-primary-hover: #296ddb;
  --color-btn-primary-text: #fff;
  --color-btn-primary-border: #ffffff00;

  --color-btn-secondary: #F3F4F6;
  --color-btn-secondary-hover: #d0d1d1;
  --color-btn-secondary-text: #1F2937;
  --color-btn-secondary-border: #000;

  --color-bg-primary: #1F2937;
  --color-bg-section: #E5E7EB;
  --color-bg-alt: #ffffff;
  --color-bg-off-white: #f7f7f7;
  --color-bg-off-white-hover: #f1f1f1;
}

html{
	font-family: 'Poppins', Arial, sans-serif;
}

body {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-light);
  line-height: 1.6;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
}


h1 {
  font-size: var(--text-size-3xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-normal);
  font-family: 'Roboto', Arial, sans-serif;
  margin-bottom: 1rem;
}

a {
  color: var(--color-text-light);
}

.light{
  background-color: var(--color-bg-alt);
}

.grey{
  background-color: var(--color-bg-section);
}

.dark{
  background-color: var(--color-bg-primary);
}

/* table styling. This is the outer container that gives scroll on mobile */
.table-scroll {
  width: 100%;
  max-height: 80vh;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.container.table-scroll{
  /* We add space on the bottom of the table container */
  margin-bottom: 1rem;
}
.responsive-table {
  /* The table should take max width */
  width: 100%;
  /* This removes double borders between cells */
  border-collapse: separate;
  overflow: hidden;
  /* Make corners rounded */
  border-radius: var(--border-radius-lg);
  border: 1px solid black;
  /* The normal font looks bad in table, set specific fonts here */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.responsive-table thead{
  /* table head gets a white background */
  background-color: var(--color-bg-alt);
}

.responsive-table th{
  /* Make the text slightly larger */
  font-size: var(--text-size-lg);
}

.responsive-table th,
.responsive-table td {
  /* add some space inside the cells */
  padding: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*  */
  white-space: nowrap;
  /* Put the text inside the cells to the left side */
  text-align: left;
}

.responsive-table tbody tr:hover{
  /* When hovering over a row we darken the color */
  background-color: var(--color-bg-off-white);
}

.responsive-table thead th {
  /* This makes the table header stick when scrolling */
  position: sticky;
  /* z-index means that it is a top layer. Z-index "in/out" from the screen. X = right/left, Y = up/down */
  z-index: 999;
  /* top: 0 means that it is always on top position inside the table */
  top: 0;
  background-color: var(--color-bg-alt);
  /* Add a soft shadow */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Change hover colors for odd rows */
.responsive-table tbody tr:nth-child(odd):hover{
  background-color: var(--color-bg-off-white-hover);
}
.responsive-table tbody tr:nth-child(odd){
  background-color: var(--color-bg-off-white);
}

small {
  font-size: var(--text-size-sm);
  color: var(--text-muted-light);
}

.text-primary{
  color: var(--color-text-light);
}

.text-secondary{
  color: var(--color-text-dark);
}

.text-muted{
  color: var(--text-muted-light);
}

.btn{
  font-size: var(--text-size-md);
  font-family: 'Roboto', Arial, sans-serif;
  padding: var(--padding-md) var(--padding-lg);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

a.btn.btn-primary{
  text-decoration: none;
}

.btn-primary{
  background-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
  border: 1px solid var(--color-btn-primary-border);
}

.btn-primary:hover{
  background-color: var(--color-btn-primary-hover);
}

.btn-secondary{
  background-color: var(--color-btn-secondary);
  color: var(--color-btn-secondary-text);
  border: 1px solid var(--color-btn-secondary-border);
}

.btn-secondary:hover{
  background-color: var(--color-btn-secondary-hover);
}

header nav{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero{
  min-height: 100vh;
  height: auto;
  /* Add a "stylish" background image */
  background:
  /* We add an opacity to make the image darker. Makes white text visible */
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("assets/images/hero-bg.jpg") center / cover no-repeat;
}

.info{
  background-color: var(--color-bg-section);
}

footer{
  background-color: var(--color-bg-primary);
}

footer p{
  margin-bottom: 0;
  text-align: center;
}

.pagination{
  /* We want to place the pagination centered */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.page-items{
  margin-bottom: 0.5rem;
}

.sorting-icon{
  max-height: 1rem;
}

@media (min-width: 576px) {
  header nav{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  nav ul{
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 90%;
    margin: 0 auto;
  }

  /* On larger screens we set the table width larger */
  .responsive-table {
    min-width: 100%;
  }

  h1{
    font-size: var(--text-size-4xl);
  }
  h2{
    font-size: var(--text-size-3xl);
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (min-width: 1400px) {
  .container{
    max-width: 1400px;
  }
}
